
/* general styles */
body{
	background-color:#EAEBF4;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:1.2em;
}

h2{
	color:#0054A6;
	font-size:1.25em;
}
.right {
  border-color:green !important;
  color:green;
}
.wrong{
    border-color:red !important;
    color:red;
}

.avatar{
	width:100px;
}

/* header */
#header{
	width:100%;
	background-color:#304588;
	height:52px;
	margin-top:0px;
	color:white;
  padding:2px;
}

/* form styles */
form {
  width:500px;
  margin: 20px auto;
  font-size:1.5em;
}
form label{
	display:block;
}
form input {

  border:1px solid black;
  min-height:30px;
 display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;


  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}
form fieldset{
	border:none;
}
form .sex input[type=radio] {
	display:inline;
  margin-left:10px;
}
form .sex label {
  display:inline;
}
form input[type=submit] {
  background-color:#C9C9C9;
  padding:3px;
  color:white;
  float:right;
  width:10em;
}

.sex{
	display:inline;
}

.column{
    display: inline-block;
}
#login input{
    float: right;
    background-color: darkorange;
    color: white;
    margin:10px 10px;
    outline: none;
    display:block;
    border:1px solid black;
    font-size:1.2em;
    width:10em;
}
input{
    color: white;
    margin:10px 10px;
    outline: none;
    display:block;
    border:1px solid black;
    font-size:1.2em;
    width:10em;
}
#links{
  float:left;
  font-size:1.8em;
}
#auswertung input{
  width:100%;
  display:block;
  margin-top:10px;
  border: 1px solid black;
  background-color:#EAEBF4;
}
#fragenkatalog div{
  margin:1px;
}
#fragenkatalog input{
  width:100%;
  padding:12px;
}
#fragenkatalog .price input{
  color: white;
  background-color:#304588;
    border: 1px solid black;
}
#fragenkatalog .kategorie input{
    background-color: darkorange;
    color: #304588;
    display: block;
    border: 1px solid black;
}
#fragenkatalog .col-md-2{
  padding-left:0px;
  padding-right:0px;
}