

/* general styles */
body{
	background-color:#EAEBF4;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:1.6em;
}

h2{
	color:#0054A6;
	font-size:1.25em;
}

.right {
  border-color:green !important;
  color:green;
}

.wrong, input:required:invalid, input:focus:invalid {
    border-color:red !important;
    color:red;
}

.centre{
  margin-left: auto;
  margin-right: auto;
}

.centretext{
  text-align: center;
}

#links{
  float:left;
  font-size:1.8em;
}

#auswertung{
    margin: 0em auto;
	min-width:90%;
	max-width:90%;
    margin-bottom:1.3em;
    padding: 0.5em;
}

.avatar{
	width: 3.5em;
    margin-top: 0.4em;
}

/* header */
#header{
	width: 100%;
	background-color: #304588;
	height: 4em;
	margin-top: 0em;
	color: white;
    padding: 0.15em;
    font-size: 0.8em;
}

/*
 *    REGISTER  
 */

/* form styles */
form {
  max-width: 30em;
  margin: 1.5em auto;
}

form label{
  display:block;
}

form input {
  border: 0.07em solid black;
  min-height: 1.8em;
  display: block;
  margin-bottom: 1em;
  margin-top: 0.4em;
  outline: none;
  min-width: 100%;

  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  border-radius: 0.3em;
}

form fieldset{
	border:none;
}

form .sex input[type=radio] {
	display:inline;
    margin-left:0.5em;
    margin-right:0.5em;
    min-width:1em;
    max-width:1em;
    min-height:1em;
    max-height:1em;
    vertical-align:middle;
}
form .sex{
    margin-left: 0em !important;
    margin-right: 0em !important;
}

form .sex label {
  display: inline;
}

form input[type=submit] {
  background-color: #C9C9C9;
  padding: 0.3em;
  color: white;
  max-width: 10em;
}

/* Login Button */
#login input{
    float: right;
    background-color: darkorange;
    color: white;
    margin:0.5em 0.5em;
    outline:none;
    display:block;
    border: 0.01em solid black;
    font-size:1.2em;
    width:10em;
    padding:0.3em;
}

input{
    color: white;
    /* margin:10px 10px;
    outline: none;
    */
    display:block;
    border: 0.1em solid darkgrey;
    font-size:1.2em;
    width:10em;
}

#auswertung div{
  width: 100%;
  margin-top: 0.1em;
  border: 0.1em solid black;
  background-color: #f7f7f7;
  cursor: default;
  padding: 0.1em;
  min-width: 100%;
  text-align: center;
  min-height: 2em;
}

/*
 *   JEOPARDY
 */

#fragenkatalog{
	display:block;
}

#fragenkatalog div{
  margin:0.05em;
}
#fragenkatalog div.col-sm-2{
   margin-left:0em;
   margin-right:0em;
}
#fragenkatalog input{
  width:100%;
  padding: 0.6em;
  border: 0.05em solid grey;
}

#fragenkatalog .price input{
  color: white;
  background-color:#304588;  
}

#fragenkatalog .kategorie input{
    background-color: darkorange;
    color: darkblue;
    font-size: 130%;
}
#fragenkatalog .price input[disabled="disabled"]{
  background-color:lightgrey;
  color:gray;
  border: 0.1em solid grey;
}
#fragenkatalog .highlighted input{
  background-color:darkorange !important;
}

#fragenkatalog .col-md-2{
  padding-left:0em;
  padding-right:0em;
}
footer{
    text-align: center;
}
#counter{
    font-weight:bold;
    margin:1em 0em;
    text-align: center;
    margin-left: 1em;
}
.avatar{
  -webkit-border-radius: 0.1em;
  -moz-border-radius: 0.1em;
  -o-border-radius: 0.1em;
  -ms-border-radius: 0.1em;
  border-radius: 0.1em;
  font-size: 1.8em;
}
#blackwidow .avatar{
    border: 0.08em solid darkorange;
}
#deadpool .avatar{
    border: 0.04em solid black;
}
.user1Text{
    line-height: 1.5;
    margin-top: 2.5em;
    font-weight: bold;
}
.user2Text{
     line-height: 1.5;
     margin-top: 2.5em;
}
.waehlen{
    padding-top: 2em;
    margin-right: 10em;
}

.waehlen input{
    background-color: limegreen;
    color: white;
    max-width:100%;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    border-radius: 0.3em;
}
.datum{
    margin-left: 1em;
}

@media(max-width:525px){
	form{
		margin-left:0.5em;
		margin-right:0.5em;
	}
}

@media(max-width:767px){
    #fragenkatalog .kategorie input{
        margin-top: 1em;
    }
}


@media(min-width:992px){
    #counter{
        text-align:left;
    }
    #fragenkatalog div.col-sm-2{
      margin:0em;
    }
}
@media(min-width:1200px){}
