
.sex{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* general styles */
body{
	background-color:#EAEBF4;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:1.6em;
}

h2{
	color:#0054A6;
	font-size:1.25em;
}

.right {
  border-color:green !important;
  color:green;
}

.wrong{
    border-color:red !important;
    color:red;
}

.centre{
  margin-left: auto;
  margin-right: auto;
}

.centretext{
  text-align: center;
}

#links{
  float:left;
  font-size:1.8em;
}

#auswertung{
    margin:0px auto;
	min-width:90%;
	max-width:90%;
    margin-bottom:1.3em;
    padding: 2px;
}

.avatar{
	width:100px;
    margin-top:10px;
}

/* header */
#header{
	width:100%;
	background-color:#304588;
	height:52px;
	margin-top:0px;
	color:white;
    padding:2px;
    font-size:0.8em;
}

/*
 *    REGISTER  
 */

/* form styles */
form {
  max-width:500px;
  margin: 1.5em auto;
}

form label{
  display:block;
}

form input {
  border:1px solid black;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;
  min-width:100%;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

form fieldset{
	border:none;
}

form .sex input[type=radio] {
	display:inline;
    margin-left:0.5em;
    margin-right:0.5em;
    min-width:1em;
    max-width:1em;
    min-height:1em;
    max-height:1em;
    vertical-align:middle;
}

form .sex label {
  display:inline;
}

form input[type=submit] {
  background-color:#C9C9C9;
  padding:3px;
  color:white;
  max-width:10em;
}

/* Login Button */
#login input{
    float: right;
    background-color: darkorange;
    color: white;
    margin:10px 10px;
    outline:none;
    display:block;
    border:1px solid black;
    font-size:1.2em;
    width:10em;
    padding:5px;
}

input{
    color: white;
    /* margin:10px 10px;
    outline: none;
    */
    display:block;
    border:1px solid black;
    font-size:1.2em;
    width:10em;
}

#auswertung div{
  width:100%;
  margin-top:5px;
  border: 1px solid black;
  background-color:#f7f7f7;
  cursor:default;
  padding:5px;
  min-width:100%;
  text-align: center;
  min-height:2em;
}

/*
 *   JEOPARDY
 */

#fragenkatalog{
	display:block;
}

#fragenkatalog div{
  margin:1px;
}

#fragenkatalog input{
  width:100%;
  padding:12px;
  border: 1px solid grey;
}

#fragenkatalog .price input{
  color: white;
  background-color:#304588;  
}

#fragenkatalog .kategorie input{
    background-color: darkorange;
    color: darkblue;
    font-size: 130%;
}
#fragenkatalog .price input[disabled="disabled"]{
  background-color:lightgrey;
  color:gray;
  border: 1px solid grey;
}
#fragenkatalog .highlighted input{
  background-color:darkorange !important;
}

#fragenkatalog .col-md-2{
  padding-left:0px;
  padding-right:0px;
}
footer{
    text-align: center;
}
#counter{
    font-weight:bold;
    margin:15px 0px;
    text-align: center;
}
.avatar{
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -o-border-radius:2px;
  -ms-border-radius:2px;
  border-radius:2px;
}
#blackwidow .avatar{
    border: 2px solid darkorange;
}
#deadpool .avatar{
   /* float:right;*/
    border: 2px solid black;
}
#deadpool{
    /*float:right;*/
}
.user1Text{
    line-height: 1.5;
}
.user2Text{
     line-height: 1.5;
}
.waehlen{
    padding-top: 16px;
    margin-right: 63px;
}

.waehlen input{
    float: right;
    padding: 4px;
    background-color: limegreen;
    color: white;
    /*border: 1px solid blue;*/
}
.datum{
    margin-left: 90px;
}

@media(max-width:525px){
	form{
		margin-left:0.5em;
		margin-right:0.5em;
	}
}

@media(max-width:767px){
    #fragenkatalog .kategorie input{
        margin-top: 13px;
    }
    #deadpool{
        float: right;
    }
    .user2Text{
        float: left;
    }
}

@media(min-width:768px){}

@media(min-width:992px){
    #counter{
        text-align:left;
    }

}
@media(min-width:1200px){}
